@import './Component.scss';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

// 커뮤니티 페이지 메인
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 90%;
  max-width: 70%;
  margin: auto;
  // background-color: pink;
}

// 커뮤니티 페이지 제목&검색창 부분
.communityHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-1;
  //   background-color: pink;
  button {
    // border: 1px solid blue;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: $color-blue-1;
    border: none;
    font-size: 16px;
    color: $color-white;
  }
}

.communityContentBox {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

// 게시글 부분
.post {
  // background-color: pink;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $color-gray-1;
  align-items: space-around;
  margin-bottom: 1rem;

  //   게시글 내용
  .postContents {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  //  (1) 유저 정보
  .userProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 30px;
    a {
      display: flex;
      align-items: center;
    }
    img {
      width: auto;
      height: 20px;
      margin-right: 2px;
      border-radius: 50%;
    }
    span {
      margin-right: 5px;
      color: $color-gray-2;
    }
  }
  //   (2) 게시글 정보
  .contentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .textContent {
      width: 80%;
      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 700;
        width: 70%;
      }
      .text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        line-height: 1.4;
        width: 90%;
      }
    }
    .imgBox {
      width: 100px;
      height: 75px;
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  // (3) 좋아요, 댓글 버튼
  .statusBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    height: 30px;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      button {
        border: 0;
        outline: 0;
        background: none;
        span {
          font-size: 16px;
        }
      }
    }
    .category {
      border: 1px solid $color-gray-1;
      background-color: none;
      padding: 2px 6px;
      font-size: 14px;
      border-radius: 5px;
      margin-right: 2px;
    }
  }
}

// 게시글 있는 박스
.postBox {
  width: 70%;
  //   background-color: red;
}
.rankingBox {
  width: 28%;
  input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $color-gray-1;
    font-size: 18px;
    font-weight: 700;
  }
  .postListBox {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    border-radius: 5px;
    border: 1px solid $color-gray-1;
  }
  .postListTitle {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5em;
    span {
      font-weight: 700;
      font-size: 18px;
      color: $color-blue-1;
    }
  }
  .postListContent {
    ul {
      list-style: none;
      padding: 0.7em 0.5rem;
      margin: 0;
      li:hover {
        filter: opacity(0.7);
      }
      li {
        margin-top: 0.5rem;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $color-gray-1;
        a {
          display: flex;
          justify-content: space-between;
          .category {
            font-size: 14px;
          }
          .listTitle {
            font-size: 16px;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
          .listComment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            .material-symbols-outlined {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// 게시글 읽기 페이지

.communityReadBox {
  width: 100%;
  margin-top: 1rem;
  .postRead {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .postContents {
      width: 90%;
      display: flex;
      margin-bottom: 1rem;
      flex-direction: column;
      justify-content: space-evenly;
      .userProfile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 30px;
        .profile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 30px;
        }
        img {
          width: auto;
          height: 20px;
          border-radius: 50%;
          margin-right: 2px;
          margin-right: 6px;
        }
        span {
          margin-right: 5px;
          color: $color-gray-2;
        }
        .category {
          border: 1px solid $color-gray-1;
          background-color: none;
          padding: 4px 8px;
          border-radius: 5px;
          margin-right: 2px;
        }
      }
      .contentBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        .textContent {
          width: 90%;
          .title {
            font-size: 22px;
            font-weight: 800;
            width: 100%;
          }
          .text {
            margin-top: 1rem;
            color: $color-gray-2;
            white-space: normal;
            line-height: 1.4;
          }
        }
      }
    }
  }

  .statusBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      button {
        border: 0;
        outline: 0;
        background: none;
      }
    }
    .report {
      width: auto;
    }
  }
  .readImgBox {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    img {
      width: 30%;
    }
  }
}

.countComment {
  font-weight: 700;
  font-size: 18px;
  margin: 1rem 0 0.5rem 0;
  padding-bottom: 1rem;
  width: 90%;
}

// 댓글창 부분
.commentBox {
  width: 100%;
  border-top: 1px solid $color-gray-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .commentInnerBox {
    width: 90%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-gray-1;
    .userProfile {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;

      .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        width: fit-content;
      }
      a {
        display: flex;
        align-items: center;
      }
      img {
        width: auto;
        height: 20px;
        border-radius: 50%;
        margin-right: 6px;
      }
      span {
        margin-right: 2px;
      }
    }
    .commentText {
      margin-top: 0.5rem;
      width: 70%;
      height: auto;
    }
    .statusBox {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      span {
        font-size: 16px;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        button {
          border: 0;
          outline: 0;
          background: none;
        }
      }
      .report {
        width: auto;
      }
    }
  }
}

.commentWriteBox {
  width: 90%;
  border-radius: 10px;
  border: 1px solid $color-gray-1;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  .commentWriteInnerBox {
    width: 95%;
    margin: 1rem 0;
  }
  .userProfile {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    // background-color: red;
    a {
      display: flex;
      align-items: center;
    }
    img {
      border-radius: 50%;
      width: auto;
      height: 20px;
      margin-right: 6px;
    }
    span {
      margin-right: 2px;
    }
    button {
      border: 0;
      outline: 0;
      background: $color-blue-1;
      color: $color-white;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }
  textarea {
    border: 1px solid $color-gray-1;
    text-align: left;
    resize: none;
    width: 100%;
    margin-top: 1rem;
  }
}

.modalBackGround {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  // backdrop-filter: blur(5px);
  z-index: 1;
  position: absolute;
  .modalBox {
    position: absolute;
    // width: 100vh;
    width: 60%;
    height: 70%;
    background-color: $color-white;
    border-radius: 20px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .modalInnerBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    margin: 30px auto;
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: pink;
  }
  .postContentBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    label {
      font-size: 18px;
      font-weight: 700;

      margin-bottom: 0.5rem;
    }
    select,
    input {
      height: 2rem;
      border: 1px solid $color-gray-1;
      border-radius: 5px;
    }
    textarea {
      border: 1px solid $color-gray-1;
      border-radius: 5px;
    }
  }
}

.moreInfos {
  width: fit-content;
  border: none;
  padding: 0;
  background: none;
  span {
    color: $color-black;
  }
}

.modifyToggle {
  background-color: pink;
  width: 150px;
  height: 50px;
  top: 20%;
  right: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  // line-height: 30px;
  text-align: center;
  z-index: 100;
  button {
    height: 50%;
  }
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: 'FILL' 1;
  &.heart {
    // color: $color-blue-2;
    // font-variation-settings:
    &.active {
      color: $color-blue-1;
    }
  }
}
