@import './Component.scss';

// main {
//     width: calc(100% - 20vw);
//     margin: 0vw auto 5vw auto;
// }

main {
    // width: calc(100% - 20vw);
    // margin: 0vw auto 5vw auto;
    width: 70%;
    margin: 0 auto 0 auto;
}


.detailContent {
    line-height: 1.8;
    margin-top: 30px;
}

.highlight {
    background-color: $color-blue-2;
    cursor: pointer;
}

.wordModal {
    position: absolute;
    background-color: white;
    border: 2px solid $color-blue-2;
    border-radius: 3%;
    max-width: 500px;
    padding: 10px;
    // margin-bottom: 100px;
    .material-symbols-outlined {
        &.heart {
            color: $color-blue-2;
            &.active {
                color: $color-blue-1;
            }
        }
    }
        
    .defaultTxt {
    color:gray;
}

}


