p {
  margin: 0;
  padding: 0;
}

.invest-wrapper {
  display: flex;
  //   justify-content: flex-start;
  justify-content: space-between;
  .invest-chart {
    width: 70%;
  }

  .invest-input {
    position: relative;
    // background-color: pink;
    margin-left: 2vw;
    width: 24%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    // border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    .currentCostBox {
      // background-color: pink;
      width: 90%;
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // border-bottom: 1px solid rgb(204, 204, 204);
      span {
        font-size: 24px;
        font-weight: 700;
      }
    }
    // 매수, 매도 다음 버튼
    .btn-wapper {
      // background-color: pink;
      width: 90%;
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // border-bottom: 1px solid rgb(204, 204, 204);
      margin-top: 0.5rem;
      .Btn {
        font-size: 18px;
        // background: none;
        border: none;
        padding: 2px 8px;
        border-radius: 5px;
      }
      .tradingBtnBox {
        // background-color: green;
        width: 85%;
        display: flex;
        justify-content: space-around;
        .buy {
          background-color: red;
          color: white;
          width: 40%;
        }
        .sell {
          background-color: blue;
          color: white;
          width: 40%;
        }
      }
      .nextBtnBox {
        width: 95%;
        display: flex;
        justify-content: center;
        .Btn {
          width: 80%;
          background-color: #333;
          color: white;
        }
      }
    }
  }

  .buy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 90%;
    height: 58%;
    top: 18%;
    // border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    .buy-inputBox {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-size: 14px;
        color: rgb(204, 204, 204);
      }
      input {
        width: 80%;
        margin: 0.5rem 0;
      }
    }
    p {
      font-weight: bold;
      font-size: 20px;
      margin: 2rem 0 1rem;

      span {
        color: red;
      }
    }
  }
}

.sell-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 90%;
  height: 58%;
  top: 18%;
  // border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  .sell-inputBox {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 14px;
      color: rgb(204, 204, 204);
    }
    input {
      width: 80%;
      margin: 0.5rem 0;
    }
  }
  p {
    font-weight: bold;
    font-size: 20px;
    margin: 2rem 0 1rem;

    span {
      color: blue;
    }
  }
}

.btn-wrapper {
  margin: 0.2rem 0;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  button {
    width: 100px;
    height: 100%;
    font-size: 18px;
  }
  .orderBtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .sellBtn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .closeBtn {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
  }
}

.currentStock {
  display: flex;
  // background-color: pink;
  width: 85%;
  justify-content: space-around;
  margin-top: 1rem;
  height: 15%;
  // border-top: 1px solid rgb(204, 204, 204);
  div {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    // border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.totalMoney {
  // border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  width: 81%;
  height: 15%;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: pink;
  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.investMoney {
  // border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  width: 81%;
  height: 15%;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: pink;
  span {
    font-size: 20px;
    font-weight: 700;
    color: blue;
  }
}

// 소제목
.smallTitle {
  font-size: 14px;
  color: grey;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 90%;
  height: 39%;
  top: 56%;
  // border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  .closeBtn {
    background: none;
    border: none;
    span {
      font-size: 18px;
    }
  }
}
