@import './Component.scss';

p {
  margin: 0;
  padding: 0;
}

.invest-wrapper {
  display: flex;
  //   justify-content: flex-start;
  justify-content: space-between;
  // position: relative;
  .invest-chart {
    width: 70%;
  }

  .invest-input {
    position: relative;
    margin-left: 2vw;
    width: 24%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    // border-radius: 10px;

    .selectSymbolBox {
      width: 100%;
      height: 7%;
      display: flex;
      justify-content: center;
      border: 1px solid $color-gray-1;
    }
    .mainContentBox {
      height: 85%;
      width: 100%;
      border: 1px solid $color-gray-1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .currentCostBox {
      width: 90%;
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      span {
        font-size: 30px;
        font-weight: 700;
      }
    }
    // 매수, 매도 다음 버튼
    .btn-wapper {
      width: 90%;
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-top: 0.5rem;
      .Btn {
        font-size: 18px;
        border: none;
        padding: 2px 8px;
        border-radius: 5px;
      }
      .tradingBtnBox {
        width: 90%;
        display: flex;
        justify-content: space-between;
        .buy {
          background-color: $color-red-1;
          color: $color-white;
          width: 45%;
        }
        .sell {
          background-color: $color-blue-1;
          color: $color-white;
          width: 45%;
        }
      }
      .nextBtnBox {
        width: 95%;
        display: flex;
        justify-content: center;
        .Btn {
          width: 95%;
          background-color: $color-black;
          span {
            color: $color-white;
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  .buy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: $color-white;
    flex-direction: column;
    align-items: center;
    left: 5%;
    width: 90%;
    height: 52%;
    top: 25%;
    border: 1px solid $color-gray-1;
    .buy-inputBox {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-size: 14px;
        color: $color-gray-2;
      }
      input {
        width: 80%;
        margin: 0.5rem 0;
      }
    }
    p {
      font-weight: bold;
      font-size: 20px;
      margin: 2rem 0 1rem;

      span {
        color: $color-red-1;
      }
    }
  }
}

.sell-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: $color-white;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 52%;
  left: 5%;
  top: 25%;
  border: 1px solid $color-gray-1;
  .sell-inputBox {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 14px;
      color: $color-gray-2;
    }
    input {
      width: 80%;
      margin: 0.5rem 0;
    }
  }
  p {
    font-weight: bold;
    font-size: 20px;
    margin: 2rem 0 1rem;

    span {
      color: blue;
    }
  }
}

.btn-wrapper {
  margin: 0.2rem 0;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  button {
    width: 100px;
    height: 100%;
    font-size: 18px;
  }
  .orderBtn {
    background-color: $color-red-1;
    color: $color-white;
    border: none;
    border-radius: 5px;
  }
  .sellBtn {
    background-color: $color-blue-1;
    color: $color-white;
    border: none;
    border-radius: 5px;
  }
  .closeBtn {
    background-color: $color-black;
    color: $color-white;

    border: none;
    border-radius: 5px;
  }
}

.currentStock {
  display: flex;
  width: 85%;
  justify-content: space-around;

  height: 15%;
  div {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    // border-radius: 5px;
    border: 1px solid $color-gray-1;
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.totalMoney {
  // border-radius: 5px;
  border: 1px solid $color-gray-1;
  width: 81%;
  height: 15%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: pink;
  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.investMoney {
  // border-radius: 5px;
  border: 1px solid $color-gray-1;
  width: 81%;
  height: 15%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: pink;
  span {
    font-size: 20px;
    font-weight: 700;
    color: $color-blue-1;
  }
}

// 소제목
.smallTitle {
  font-size: 14px;
  color: $color-gray-2;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  left: -320%;
  top: 0%;
  width: 420%;
  height: 110%;
  // border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  .deatail-profile {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    p {
      font-size: 18px;
    }
    .closeBtn {
      background: none;
      border: none;
      span {
        font-size: 24px;
      }
      span:hover {
        color: $color-blue-1;
      }
    }
  }
  .innerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .historyBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 15%;
      // background-color: pink;
      justify-content: space-evenly;
      align-items: center;
      .profitBox {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        .profitSurplus {
          color: $color-blue-1;
          span {
            color: $color-blue-1;
          }
        }
        .profitDeficit {
          color: $color-red-1;
          span {
            color: $color-red-1;
          }
        }
      }
      .winRateBox {
        width: 20%;
        height: 100%;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.symbol-Box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    color: $color-gray-2;
  }
  select {
    width: 60%;
    border: none;
    font-size: 18px;
    font-weight: 700;
  }
}

.status-Box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  .resetBtn {
    text-align: center;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: fit-content;
    span {
      font-size: 17px;
      color: $color-gray-2;
      text-align: center;
      line-height: 17px;
    }
    span:hover {
      color: $color-blue-1;
    }
  }
}
