@import './Component.scss';

// main {
//     width: calc(100% - 20vw);
//     margin: 0vw auto 5vw auto;
// }


.detailContent {
    line-height: 1.8;
    margin-top: 30px;
}

.highlight {
    background-color: $color-blue-2;
    cursor: pointer;
}

