@import './Component.scss';


main {
    // width: calc(100% - 20vw);
    // margin: 0vw auto 5vw auto;
    width: 70%;
    margin: 0 auto 0 auto;

}

// ------------------------------------------------------------------


.newsNav {
    border-bottom: 1px solid $color-gray;
    display: flex;
    justify-content: space-between;
    // align-items: first baseline;

}

.refresh-btn:hover {
    color: $color-blue-1;;
}


// ------------------------------------------------------------------


article {
    // display: flex;
    // margin: 15px 0 15px 0;
    border-bottom: 1px solid $color-gray;
}

.newsData {
    display: flex;
    margin: 15px 0 15px 0;
}


.dataImg {
    width: 220px;
    height: 150px;
    border: 1px solid $color-gray;

}

.dataTxt {
    // width: 500px;
    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    margin-left: 20px;
}

.dataTitle{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: normal;
    line-height: 1.4;
    margin: 0;
    font-weight: bolder;
}

.dataContent {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    line-height: 1.4;
    font-weight: 100;
    // margin: 0;
    color: grey;
}


// ------------------------------------------------------------------


.loading { 
    display: flex;
    height: 65vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading > p {
    margin: 0;
}
