@import './Component.scss';

.outer-wrapper{
    .page-title{
        // display: inline-block;
        font-size: 24px;
        margin: 3vw 0 1vw 0;
    }
    .selected-blue{
        color:$color-blue-1;
        // background-color: $color-gray;
    }
    ul{
        list-style-type: none;
        margin: 0 0 2vw 0;
        padding: 0;
        li{
            width: fit-content;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            padding: 3px 10px 3px 10px;
            margin-right: 1vw;
            background-color: $color-blue-3;
        }
    }

    .stock-guide{
        display:flex;
        justify-content: flex-start;
        .graph-y{
            width: 0.5vw;
            height: 30vw;
            background-color: black;
            position: absolute;
        }
        .stock-section{
            width:60%;
            margin-right:1vw;
            .stock-chart{
                // border: 1px solid black;
                height: 30vw;
            }
            .graph-x{
                height:0.5vw;
                margin-bottom: 1vw;
                background-color: red;
                &:hover{
                    background-color: rgb(189, 0, 0)
                }
            }
            .graph-btn{
                height: 2vw;
                width: fit-content;
                line-height: 3vw;
                display: inline-block;
                /* margin: 0.5vw; */
                /* text-align: center; */
                margin-right:10px;
                img{
                    width:2vw;
                    // margin:0.5vw;
                }
               
            }
            .stock-explain{
                padding-top:10px;
                border:1px solid black;
                height:18.5vw;
                

            }

        }
        .trade-control{
            width:39%;
            height:50vw;
            border:1px solid black;
        }
    }
}
